.tutorialModal .modal-dialog { 
  width: 80%;
  max-width: 100%;
}

.tutorialModal .modal-dialog .modal-content { 
  padding: 30px;
  padding-top: 0px;
  height: 100%;
}

.modalHeader {
  margin-left: auto;
}

.hoverWarning:hover {
  border: 2px solid red;
}